name: Run Pypi

on:
  # pull_requestをtriggerとして指定
  pull_request:
    # branchというオプションを使ってmain branchを指定
    branches: 
      - 'main'

jobs:  
  deploy:  
    runs-on: ubuntu-latest  

    steps:  
      - name: Check version  
        id: check_version  
        run: |  
          CURRENT_VERSION=$(python -c "import toml; print(toml.load('pyproject.toml')['project']['version'])")  
          echo "Current version: $CURRENT_VERSION"  
          if [ -f .github/last_version.txt ]; then  
            LAST_VERSION=$(cat .github/last_version.txt)  
            echo "Last version: $LAST_VERSION"  
            if [ "$CURRENT_VERSION" = "$LAST_VERSION" ]; then  
              echo "Version has not changed. Skipping deployment."  
              echo "skip_deploy=true" >> $GITHUB_ENV  
              exit 0  
            fi  
          fi  
          echo "$CURRENT_VERSION" > .github/last_version.txt  
          echo "skip_deploy=false" >> $GITHUB_ENV  

    steps:  
      - uses: actions/checkout@v3  
      - name: Set up Python  
        uses: actions/setup-python@v3  
        with:  
          python-version: "3.12"  
      - name: Build package  
        if: env.skip_deploy != 'true'  
        run: |  
          python -m pip install --upgrade pip  
          pip install build  
          python -m build  # pyproject.tomlに基づいてパッケージをビルド  
      - name: Publish package  
        if: env.skip_deploy != 'true'  
        run: |  
          pip install twine  
          python -m twine upload dist/*  
        env:  
          TWINE_USERNAME: __token__  
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
